<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Page d'accueil admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/connexion.css">
</head>
<body>


<aside class="aside">
    <h1>Bienvenue</h1>
    <img src="img/component.png" alt="" class="logo"/>

</aside>


<main class="main">
    <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>
    <button type="button" class="btn btn-primary btn-circle mobileonly"><i class="fa fa-home" aria-hidden="false"></i>

    <p class="p3">Evénements</p>
    <form>
    <!--<button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/api/auth/plannng'"><span>SOUTENANCE DE STAGE 3A 2020<br>05/09/2021 - 20/09/2021</span></button><br>
    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/api/auth/plannng'"><span>SOUTENANCE DE STAGE 4A 2020<br>05/09/2021 - 20/09/2021</span></button><br>
    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/api/auth/plannng'"><span>SOUTENANCE DE STAGE 5A 2020<br>05/09/2021 - 20/09/2021</span></button><br>-->

    <%  if (events.length==0) { %>
            <span>Aucun événement en cours</span><br>
       <% }
        else {
            for(var i=0; i < events.length; i++) {%>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/admin/planning?eventID=<%=events[i]._id%>'"><span><%=events[i].name%><br><%=classes[i].name %><br><%= moment(events[i].start).format('DD/MM/YYYY') %> - <%= moment(events[i].end).format('DD/MM/YYYY') %></span></button><br>
    <%      }
        } %>
    <button type="button" class="btn btn-primary" onclick="location.href='/admin/createEvent'">CREER UN EVENEMENT</button>
    </form>


</main>
<footer class="footer">
    <p class="p6">Contact</p>
    <p class="p6">En savoir plus</p>
    <p class="p6">Langues</p><br>
    <p class="p6">https://polytech.umontpellier.fr</p>
    <p class="p6">français</p>
    <img src="img/LOGO_original_RVB_WEB-1.png" alt="" class="log1"/>
    <img src="img/IG.png" alt="" class="log1"/>
    <img src="img/unnamed.png" alt="" class="log1"/>
    <p class="p6">© 2020 Polytech Montpellier</p>

</footer>
</body>
</html>