<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil Etudiant</title>
    <base href="http://localhost:8080/public">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/connexion.css"
</head>
<body>
<aside id ="aside">
    <h1>Accueil</h1>
    <p class="p5">Nom</p>
    <p class="p5">Prénom</p>
    <p class="p5">Promotion</p>
    <p class="p5">Si vous souhaitez modifier ces informations; cliquer ici.</p>
    <img src="img/component.png" alt="" id="logo"/>

</aside>
<main id="main">
    <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>

    <p class="p3">Information sur l'événement en cours</p>
    <p class="p4">Attention, vous avez jusqu'au JJ/MM/AA pour vous inscrire à une soutenance</p>
    <form>


        <button type="submit" class="btn btn-primary">Réserver votre créneau pour cet événement</button>

    </form>
</main>

</body>
</html>