<!DOCTYPE html>
<html lang="en">
<head>  <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Aide | Réservation de soutenance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <link rel="stylesheet" href="css/connexion.css">
</head>
<body>
<aside class="aside">
    <h1>Pour vous aider</h1>
    <img src="img/component.png" alt="" class="logo"/>

</aside>



<main class="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mobileonly">
            <li class="breadcrumb-item"><a href="#">Home</a></li>

        </ol>
    </nav>

    <p class="p3">Aide à la navigation</p>

    <p class="p4">Navigation sur le site</p>
    <p class="p4">Ce site vous permet de réserver votre créneau de soutenance.<br>
    Si vous êtes Administrateur vous avez la possibilité de créer des événements, pour cela rendez-vous dans Créer un événement en cliquant sur le bouton "Créer un événemnet". Vous pourrez à l'issu du formulaire proposer des créneaux pour que les étudiants s'inscrivent.
    <br> Si vous êtes étudiant, vous pouvez réserver un créneau sur l'événement qui vous est proposé. Cliquer sur "Reserver votre créneau" et remplissez le formulaire, que l'on puisse connaitre les membres de votre groupe. A l'issue de ce formulaire vous pourrez choisir la date et l'heure de votre soutenance parmis les créneaux proposés par l'administrateur.</p>
    <p class="p4">Fonctionnalités offertes par votre navigateur</p>





</main>
</body>
</html>