<!DOCTYPE html>
<html lang="en">
<head>  <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Aide | Réservation de soutenance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <link rel="stylesheet" href="css/connexion.css">
</head>
<body>
<aside class="aside">
    <h1>Pour vous aider</h1>
    <img src="img/component.png" alt="" class="logo"/>

</aside>



<main class="main">

    <p class="p3">Aide à la navigation</p>
    <p class="p4">Navigation sur le site</p>
    <p class="p4">Fonctionnalités offertes par votre navigateur</p>





</main>
</body>
</html>