<!DOCTYPE html>
<html lang="en">
<head>  <base href="http://localhost:8080/public">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Page de connexion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
  <link rel="stylesheet" href="css/connexion.css">
</head>
</head>

<body>
<aside id ="aside">
    <h1>Description de l'application</h1>
    <img src="img/component.png" alt="" id="logo"/>

</aside>



    <main id="main">
      <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>
      <p class="p3">Connectez-vous</p>
      <p class="p4">Entrez votre adresse mail universitaire et votre mot de passe</p>

      <form action="/signin" method="POST" >

        <div class="col-md-4 mb-3">
          <label for="exampleFormControlInput1" class="form-label">E-mail universitaire</label><br>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" aria-label="Large" aria-describedby="inputGroup-sizing-sm"  name="email">
        </div>

        <div class="col-md-4  form-group">
          <label for="exampleInputPassword1">Mot de passe</label> <br>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <br>

        <button type="submit" class="btn btn-primary" id="gauche">SE CONNECTER<img src="img/flechee.png" alt="" id="flech"/></button>
      </form>
      <br>

      <p class="p2">Si vous n'avez pas de compte <strong><a href="/signup">Inscrivez-vous</a></strong></p>
    </main>
  </body>
</html>
