<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8"/>
    <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
    <title>Page de formulaire admin</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <link href="../css/connexion.css" rel="stylesheet">
</head>

<body>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- votre propre fichier dans le dossier de votre projet -->
    <script type="text/javascript" src="script/datepicker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>



<aside class="aside">
    <button class="btn btn-circle" onclick="location.href='/logout'"><i class="far fa-sign-out"></i></button>
    <button class="btn btn-circle" onclick="location.href='/admin/accueil'"><i class="fa fa-home"></i></button>
    <h1>Création d'un évènement</h1>
    <img alt="" class="logo" src="img/component.png"/>

</aside>

<main class="main">




    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mobileonly">
            <li class="breadcrumb-item"><a href="#">Home</a></li>

        </ol>
    </nav>
    <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>

    <p class="p3">Créer un évènement </p>
    <p class="p4">Renseignez les informations suivantes</p>
    <form action="/admin/createEvent" method="post">


        <div class="col-md-6">
            <label for="validationCustom03">Titre de l'événement</label>
            <input class="form-control" id="validationCustom03" name="name" placeholder="Titre" type="text" autocomplete="off" required>

        </div>

        <div class="col-md-6 promotion">
            <label>Promotion concernée</label><br>
            <select class="form-control" name="class">
                <option>IG2023</option>
                <option>IG2022</option>
                <option>IG2021</option>
            </select>
        </div>

        <div class="col-md-6">
            <label>Durée de la soutenance</label><br>
            <select class="form-control" name="presentationDuration">
                <option value="60" selected>1H</option>
                <option value="90">1H30</option>
            </select>
        </div>
        <div class="col-md-6">
            <label>Date de début</label><br>
        <input class="form-control" id="dateDebut" name="start" placeholder="JJ/MM/AAAA" type="text" autocomplete="off" required/>
        </div>


        <div class="col-md-6">
            <label>Date de fin</label><br>
        <input class="form-control" id="dateFin" name="end" placeholder="JJ/MM/AAAA" type="text" autocomplete="off" required/>
        </div>

        <div class="col-md-6 form-check">
            <input type="checkbox" onclick="checkcreneau()" class="form-check-input" id="exampleCheck1" checked="true" name="withJury">
            <label  for="exampleCheck1" >Je précise les jurys maintenant</label>
            <script>
                function checkcreneau() {
                    let checkBox = document.getElementById("exampleCheck1");

                    let selector = document.getElementById("selector");
                    let text = document.getElementById("juryCreator");
                    let text1 = document.getElementById("teacherSelector");
                    let text3 = document.getElementById("nbjury")
                    let text2 = document.getElementById("nbjuryselector");
                    let text4 = document.getElementById("textjury");
                    if (!(checkBox.checked)){
                        selector.style.display = "none";
                        text1.style.display = "none";
                        text2.style.display = "none";
                        text4.style.display = "none";
                        text.style.display = "none";
                    }
                    else {
                        selector.style.display = "block";
                        text.style.display = "block";
                        text1.style.display = "block";
                        text2.style.display = "block";
                        text4.style.display = "block";
                        text.getElementsByTagName("select")[0].getElementsByTagName('option')[0].selected = 'selected'
                        text2.getElementsByTagName("select")[0].getElementsByTagName('option')[0].selected = 'selected'
                    }

                    for(let i = 0; i <3; i++){
                        let teacherSelector = document.getElementById("teacherSelector"+i);
                        let juryCreator = document.getElementById("juryCreator"+i);

                        console.log(teacherSelector)
                        if (checkBox.checked){
                            if (teacherSelector != null)
                            teacherSelector.style.display = "none";
                            if (juryCreator != null)
                            juryCreator.style.display = "none";
                        }
                    }
                }
            </script>
        </div>

        <div id="selector" class="col-md-6">
            <label for="nbjury">Nombre de jury</label><br>
            <select class="form-control" id="nbjury"name="nbJury">
                <option selected="selected">1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div id="nbjuryselector" class="col-md-6">
            <label for="jury">Nombre de membre du jury</label><br>
            <select class="form-control" id="jury"name="sizeJury">
                <option selected="selected">1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <label id="textjury" class="col-md-6" style="margin-bottom: .5rem">Jury(s)</label><br>
        <div id="juryCreator" class="col-md-6 input-group-room-jury" style="margin-top: 0">
            <div id="teacherSelector" class="input-inside-group">
                <label for="teacher" style="margin-top: 2%">Professeur</label><br>
                <select class="form-control" id="teacher" name="jury">
                    <% for(var i = 0; i < teachers.length; i++) {%>
                        <option value="<%= teachers[i]._id %>"><%= teachers[i].teacherFirstName %> <%= teachers[i].teacherLastName %></option>
                    <%}%>
                </select>
            </div>
        </div>

        <script>
            const nbjury = document.querySelector('#nbjury');
            const juryCreator = document.querySelector('#juryCreator');


            nbjury.addEventListener('change', (event) => {
                for (let i = 0, copy; i < event.target.value - 1; i++) {
                    if (document.getElementById('juryCreator' + i)) {
                        document.getElementById('juryCreator' + i).style.display = 'block'
                    } else {
                        copy = juryCreator.cloneNode(true);
                        copy.attributes.id.nodeValue = copy.attributes.id.nodeValue + i
                        let e = copy.querySelector('#teacherSelector')
                        e.id = 'teacher'+i.toString()+'Selector'
                        juryCreator.parentNode.insertBefore(copy, juryCreator.nextSibling);
                    }

                }

                for (let j =  event.target.value - 1; j < 10; j++) {
                    let juryCreator = document.getElementById('juryCreator'+j)
                    if (juryCreator != null) juryCreator.parentNode.removeChild(juryCreator)
                        //juryCreator.style.display = 'none'
                }
            });

            const jury = document.querySelector('#jury');
            let teacherSelector = document.querySelector('#teacherSelector');
            const teacherSelectors = document.querySelectorAll('#teacherSelector');

            jury.addEventListener('change', (event2) => {
                console.log("ntm")
                console.log(teacherSelectors.length)
                console.log(event2.target.value)
                for (let numTeacherSelector = 0; numTeacherSelector < parseInt(nbjury.options[nbjury.selectedIndex].text) -1; numTeacherSelector++) {
                    console.log("numTeacherSelector")
                    console.log(numTeacherSelector)
                    for (var i = 0; i < event2.target.value - 1; i++) {
                        if (document.querySelector('#teacher'+numTeacherSelector+'Selector' + i)) {
                            document.querySelector('#teacher'+numTeacherSelector+'Selector' + i).style.display = 'block'
                        } else {
                            console.log('#teacher'+numTeacherSelector+'Selector')
                            console.log('#teacher'+numTeacherSelector+'Selector')
                            const teacherSel = document.getElementById('teacher'+numTeacherSelector+'Selector')
                            console.log(teacherSel)
                            let copyTeacherSelector = teacherSel.cloneNode(true);
                            copyTeacherSelector.attributes.id.nodeValue = copyTeacherSelector.attributes.id.nodeValue + i
                            teacherSel.parentNode.insertBefore(copyTeacherSelector, teacherSel);
                        }
                    }

                    for (let j = event2.target.value - 1; j < 10; j++) {
                        let teacherSelector = document.querySelector('#teacher'+numTeacherSelector+'Selector' + j)
                        if (teacherSelector != null) teacherSelector.parentNode.removeChild(teacherSelector)
                            //teacherSelector.style.display = 'none'
                    }
                }
            });

            jury.addEventListener('change', (event2) => {
                console.log("ntm")
                console.log(teacherSelectors.length)
                console.log(event2.target.value)
                    for (let i = 0; i < event2.target.value - 1; i++) {
                        if (document.querySelector('#teacherSelector' + i)) {
                            document.querySelector('#teacherSelector' + i).style.display = 'block'
                        } else {
                            copyTeacherSelector = teacherSelector.cloneNode(true);
                            copyTeacherSelector.attributes.id.nodeValue = copyTeacherSelector.attributes.id.nodeValue + i
                            teacherSelector.parentNode.insertBefore(copyTeacherSelector, teacherSelector.nextSibling);
                        }
                    }

                    for (let j = event2.target.value - 1; j < 10; j++) {
                        let teacherSelector = document.querySelector('#teacherSelector' + j)
                        if (teacherSelector != null) teacherSelector.parentNode.removeChild(teacherSelector)
                            //teacherSelector.style.display = 'none'
                    }
            });

        </script>
        <div class="col-md-6">
            <label>Date limite de réservation</label><br>
            <input class="form-control " id="datelimite" name="deadline" placeholder="JJ/MM/AAAA" type="text" autocomplete="off"  required/>
        </div>

        <button class="btn btn-primary gauche" type="submit">ENREGISTRER<i aria-hidden="true" class="fa fa-long-arrow-right"></i></button>

    </form>


</main>
</body>
</html>
</body>
</html>