<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Page de formulaire admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/connexion.css"
</head>
<body>


<aside id ="aside">
    <h1>Création d'un évènement</h1>
    <img src="img/component.png" alt="" id="logo"/>

</aside>

<main id="main">
    <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>

    <p class="p3">Créez un évènement </p>
    <p class="p4">Renseignez les informations suivantes</p>
    <form>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Titre de l'événement</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Titre" name="titre" required>
                    <div class="valid-feedback">

                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="exampleFormControlSelect1">Promotion concernée</label><br>

                    <select class="form-control" id="exampleFormControlSelect1" name="class">
                        <option>Semaine 51</option>
                        <option>Semaine 50</option>
                        <option>Semaine 49</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Promotion concernée</label><br>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>IG2023</option>
                        <option>IG2022</option>
                        <option>IG2021</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Soutenance de Projet</button>
                <button type="submit" class="btn btn-secondary">Soutenance de Stage</button>
                <p>Durée de la soutenance</p>
                <button type="submit" class="btn btn-secondary">1h</button>
                <button type="submit" class="btn btn-secondary">1h30</button><br>

                <form>

                    <p class="fallbackLabel">Date de début</p>
                    <div class="fallbackDatePicker">
      <span>
        <label for="day">Jour :</label>
        <select id="day" name="day">
        </select>
      </span>
                        <span>
        <label for="month">Mois :</label>
        <select id="month" name="month">
          <option selected>Janvier</option>
          <option>Février</option>
          <option>Mars</option>
          <option>Avril</option>
          <option>Mai</option>
          <option>Juin</option>
          <option>Juillet</option>
          <option>Août</option>
          <option>Septembre</option>
          <option>Octobre</option>
          <option>Novembre</option>
          <option>Décembre</option>
        </select>
      </span>
                        <span>
        <label for="year">Année :</label>
        <select id="year" name="year">
            <option selecte>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
        </select>
      </span>
                    </div>
                </form>
                <div class="col-md-6">
                    <label for="validationDefault03" class="form-label">Durée de l'événement</label>
                    <input type="text" class="form-control" id="validationDefault03" required>
                </div>
                <form>

                    <p class="fallbackLabel">Date limite de réservation</p>
                    <div class="fallbackDatePicker">
      <span>
        <label for="day">Jour :</label>
        <select id="day" name="day">
        </select>
      </span>
                        <span>
        <label for="month">Mois :</label>
        <select id="month" name="month">
          <option selected>Janvier</option>
          <option>Février</option>
          <option>Mars</option>
          <option>Avril</option>
          <option>Mai</option>
          <option>Juin</option>
          <option>Juillet</option>
          <option>Août</option>
          <option>Septembre</option>
          <option>Octobre</option>
          <option>Novembre</option>
          <option>Décembre</option>
        </select>
      </span>
                        <span>
        <label for="year">Année :</label>
        <select id="year" name="year">
            <option selecte>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
        </select>
      </span>
                    </div>
                </form>
                <div class="col-md-6">
                    <label for="validationDefault03" class="form-label">Nombre de membres dans le jury</label>
                    <input type="text" class="form-control" id="validationDefault03" required>
                </div>
                <button type="button" class="btn btn-primary"><span>ENREGISTRER</span><img src="../img/flechee.png" alt="" id="flech"/></button>

    </form>
</main>
</body>
</html>