<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <title>Page d'accueil admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/connexion.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>


<aside class="aside">
    <button class="btn btn-circle" onclick="location.href='/logout'"><i class="far fa-sign-out"></i></button>
    <button class="btn btn-circle" onclick="location.href='/admin/accueil'"><i class="fa fa-home"></i></button>
    <h1>Indication des jurys</h1>
    <img src="img/component.png" alt="" class="logo"/>

</aside>


<main class="main">
    <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>
    <p class="p3">Gérer les jurys</p>
    <p class="p3" style="font-size: 2em;"><%= event.name %></p>
    <p class="p4">Gérer la liste des professeurs susceptible de participer à une soutenance</p>

    <ul class="list-group" style="margin-left: 10%; margin-right: 10%">
        <% for(var i=0; i < juries.length; i++) { %>
        <li id="<%= juries[i]._id %>" class="list-group-item" value="<%= juries[i]._id %>">
            <span id="deleteJury" class="fa fa-times" onclick="test('<%= juries[i]._id %>')" style="right: 10%"></span>
            <%
            for(var j = 0; j < teachersInJuries[0].length; j++) {%>
                <%= teachersInJuries[i][j].teacherLastName %>
            <%}%>
        </li>
        <% } %>

        <script>
            function test(id){
                $.ajax({
                    type: 'DELETE',
                    url: '/admin/manageJuries/' + id + "/" + "<%= event._id %>",
                    success: (data) => {
                        console.log(data);
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
                document.getElementById(id).setAttribute('style', 'display: none')
                //$('#'+id).attr('style', 'display: none');
            }
        </script>

        <li class="list-group-item" id="form-teacher" style="display: none">
            <span class="fa fa-close" style="float: right;" onclick="$('#form-teacher').attr('style','display: none');"></span>
            <form action="/admin/manageJuries/<%= event._id %>" method="post">
                <div id="selector" class="col-md-6">
                    <label for="nbjury">Nombre de jury</label><br>
                    <select class="form-control" id="nbjury"name="nbJury">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <label id="textjury" class="col-md-6" style="margin-bottom: .5rem">Jury(s)</label><br>
                <div id="juryCreator" class="col-md-6 input-group-room-jury" style="margin-top: 0">
                    <div id="teacherSelector" class="input-inside-group">
                        <label for="teacher" style="margin-top: 2%">Professeur</label><br>
                        <select class="form-control" id="teacher" name="jury">
                            <% for(var i = 0; i < teachers.length; i++) {%>
                            <option value="<%= teachers[i]._id %>"><%= teachers[i].teacherFirstName %> <%= teachers[i].teacherLastName %></option>
                            <%}%>
                        </select>
                    </div>
                </div>

                <script>
                    const nbjury = document.querySelector('#nbjury');
                    const juryCreator = document.querySelector('#juryCreator');


                    nbjury.addEventListener('change', (event) => {
                        for (let i = 0, copy; i < event.target.value - 1; i++) {
                            if (document.getElementById('juryCreator' + i)) {
                                document.getElementById('juryCreator' + i).style.display = 'block'
                            } else {
                                copy = juryCreator.cloneNode(true);
                                copy.attributes.id.nodeValue = copy.attributes.id.nodeValue + i
                                let e = copy.querySelector('#teacherSelector')
                                e.id = 'teacher'+i.toString()+'Selector'
                                juryCreator.parentNode.insertBefore(copy, juryCreator.nextSibling);
                            }

                        }

                        for (let j =  event.target.value - 1; j < 10; j++) {
                            let juryCreator = document.getElementById('juryCreator'+j)
                            if (juryCreator != null) juryCreator.parentNode.removeChild(juryCreator)
                            //juryCreator.style.display = 'none'
                        }
                    });

                    const jury = document.querySelector('#jury');
                    let teacherSelector = document.querySelector('#teacherSelector');
                    const teacherSelectors = document.querySelectorAll('#teacherSelector');

                    for (let i = 0; i < parseInt('<%= event.sizeJury %>')-1; i++) {
                        copyTeacherSelector = teacherSelector.cloneNode(true);
                        copyTeacherSelector.attributes.id.nodeValue = copyTeacherSelector.attributes.id.nodeValue + i
                        teacherSelector.parentNode.insertBefore(copyTeacherSelector, teacherSelector.nextSibling);
                    }

                </script>

                <button class="btn btn-primary gauche" type="submit" style="margin-left: 0%;margin-right: 10%;text-align: center;">AJOUTER</button>

            </form>
        </li>

        <button id="addButton" class="btn btn-secondary btn-lg btn-block" onclick="$('#form-teacher').attr('style','display: block');" type="button" style="margin-top:2%"><i class="fa fa-plus-circle"></i></button>

    </ul>

    <button class="btn btn-primary gauche" type="button" onclick="location.href='/admin/accueil'" style="margin-left:10%; margin-top:5%">ENREGISTRER<i aria-hidden="true" class="fa fa-long-arrow-right"></i></button>
</main>
</body>
</html>