<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Page d'inscription</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <link rel="stylesheet" href="css/connexion.css">
</head>
<body>


<aside id ="aside">
    <h1>Description de l'application</h1>
    <img src="img/component.png" alt="" id="logo"/>

</aside>

<main id="main">
    <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>
    <p class="p3">Inscrivez-vous </p>
    <p class="p4">Entrez votre adresse mail universitaire, votre formation et votre promotion</p>
        <form action="/api/auth/signup" method="POST">
            <div class="form">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Prénom</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="First name" name="firstName" required>
                    <div class="valid-feedback">

                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Nom</label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" name="lastName" required>
                    <div class="valid-feedback">

                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="exampleFormControlSelect1">Sélectionnez votre promotion</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="class">
                        <option>IG2023</option>
                        <option>IG2022</option>
                        <option>IG2021</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="exampleFormControlInput1" class="form-label">E-mail universitaire</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="email">
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="show_hide_password">Créer votre mot de passe</label>
                    <div class="input-group" id="show_hide_password">
                        <input class="form-control" type="password" name="password">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label for="confirm_password">Confirmer votre mot de passe</label>
                    <div class="input-group" id="confirm_password">
                        <input class="form-control" type="password" name="confirmPassword">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" id="gauche">S'INSCRIRE<img src="img/flechee.png" alt="" id="flech"/></button>

            </div>
        </form>
    <p class="p2">Si vous avez déjà un compte <strong><a href="/api/auth/signin">Connectez-vous</a></strong></p>

</main>
</body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="script/password_hide.js"></script>
</html>