<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
    <title>Page de Planning</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/connexion.css" rel="stylesheet"
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

</head>
<body>
<script src="script/datepicker.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"
        type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
      rel="stylesheet"/>


<main class="main">


    <p class="p3"><%= event.name %> - <%= classe.name%></p>
    <p class="p4">Sélectionnez un créneau pour voir ses informations et les modifer. Faites le glisser pour modifier sa
        date ou son horaire</p>

    <div class="week-display" id="week-display" value="0">
        <button class="btn week-btn-left"
                onclick="location.href='/admin/planning?eventID=<%= event._id %>&firstDay=<%= new Date(moment(originalDate)).getTime() - (60 * 60 * 24) * 1000 * 7 %>'"
                type="button">
            <i class="fa fa-angle-left"></i></button>
        <p class="mon" id="week-desc">Semaine du 11 au 17 Jaxnvier</p>
        <button class="btn week-btn-right"
                onclick="location.href='/admin/planning?eventID=<%= event._id %>&firstDay=<%= new Date(moment(originalDate)).getTime() + (60 * 60 * 24) * 1000 * 7 %>'"
                type="button">
            <i class="fa fa-angle-right" style="border: none"></i></button>
    </div>

    <table class="calendar table table-bordered">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th id="mon" width="5%">18<br/>Lundi</th>
            <th id="tue" width="5%">19<br/>Mardi</th>
            <th id="wen" width="5%">20<br/>Mercredi</th>
            <th id="thu" width="5%">21<br/>Jeudi</th>
            <th id="fri" width="5%">22<br/>Vendredi</th>
            <script>

                function getMonth(monthNum) {
                    month = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"]
                    return month[monthNum]
                }

                let firstDate = moment("<%= originalDate %>").toDate();
                let lastDate = new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 6)

                let text = ""
                if (firstDate.getFullYear() !== lastDate.getFullYear()) {
                    text = "Semaine du " + firstDate.getDate() + " " + getMonth(firstDate.getMonth()) + " " + firstDate.getFullYear() + " au " + lastDate.getDate() + " " + getMonth(lastDate.getMonth()) + " " + lastDate.getFullYear()
                } else if (getMonth(firstDate.getMonth()) !== getMonth(lastDate.getMonth())) {
                    text = "Semaine du " + firstDate.getDate() + " " + getMonth(firstDate.getMonth()) + " au " + lastDate.getDate() + " " + getMonth(lastDate.getMonth()) + " " + lastDate.getFullYear()
                } else {
                    text = "Semaine du " + firstDate.getDate() + " au " + lastDate.getDate() + " " + getMonth(firstDate.getMonth()) + " " + firstDate.getFullYear()
                }
                document.getElementById("week-desc").innerText = text
                let day = firstDate.getDay()
                let monday = firstDate.getDate() - day + (day === 0 ? -6 : 1)

                document.getElementById("mon").innerHTML = firstDate.getDate() + "<br> Lundi"
                document.getElementById("tue").innerHTML = new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 1).getDate() + "<br> Mardi"
                document.getElementById("wen").innerHTML = new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 2).getDate() + "<br> Mercredi"
                document.getElementById("thu").innerHTML = new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 3).getDate() + "<br> Jeudi"
                document.getElementById("fri").innerHTML = new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 4).getDate() + "<br> Vendredi"

            </script>
        </tr>
        </thead>
        <%
        minsToHHMM = function (mins, add) {
        var mins_num = parseInt(mins) + parseInt(add);
        var minutes = mins_num % 60;
        var hours = (mins_num - minutes)/ 60;

        if (minutes < 10) {minutes = "0"+minutes;}
        return hours+':'+minutes;
        }

        isFull = function (timeslot) {
        if (timeslot.groups.length === timeslot.rooms.length) {
        return "complet"
        } else {
        return "libre"
        }
        }
        %>
        <tbody>
        <tr>
            <td class="time-slot-indicator m" id="morning" width="5%">08:00 - 13:00</td>

            <%
            for( let i = 0; i < 5; i++) {%>

            <td class="no-events" id="morning<%=i%>" ondragover="allowDrop(event)" ondrop="drop(event)" value="">
                <%for( let nbTimeSlot = 0; nbTimeSlot < timeslots[i*2].length; nbTimeSlot++) { %>
                <%
                getValues = function () {
                console.log(rooms[(i * 2)][nbTimeSlot])
                let usedRooms = ""
                let usedJuries = ""
                let usedGroups = ""
                for (let nbCreneau = rooms[(i * 2)][nbTimeSlot].length - 1; nbCreneau > -1; nbCreneau--) {
                usedRooms += rooms[(i * 2)][nbTimeSlot][nbCreneau].name + ","
                }
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)][nbTimeSlot].length; nbCreneau++) {
                try {
                for (let nbTeacher = 0; nbTeacher < teachers[(i * 2)][nbTimeSlot][nbCreneau].length; nbTeacher++) {
                usedJuries += teachers[(i * 2)][nbTimeSlot][nbCreneau][nbTeacher].teacherLastName + ' '
                }
                usedJuries = usedJuries.slice(0, -1)
                usedJuries += ','
                } catch (e) {
                }
                try {
                for (let nbStudent = 0; nbStudent < allStudents[(i * 2)][nbTimeSlot][nbCreneau].length; nbStudent++) {
                usedGroups += allStudents[(i * 2)][nbTimeSlot][nbCreneau][nbStudent].lastName + ' '
                }
                usedGroups = usedGroups.slice(0, -1)
                usedGroups += ','
                } catch (e) {
                }
                usedRooms = usedRooms.slice(0, -1)
                usedJuries = usedJuries.slice(0, -1)
                usedGroups = usedGroups.slice(0, -1)
                console.log("usedGroups")
                console.log(usedGroups)
                }
                }

                getRooms = function () {
                let usedRooms = ""
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)][nbTimeSlot].length; nbCreneau++) {
                usedRooms += rooms[(i * 2)][nbTimeSlot][nbCreneau].name + ","
                }
                usedRooms = usedRooms.slice(0, -1)
                console.log("usedRooms")
                console.log(usedRooms)
                return usedRooms
                }

                getJuries = function () {
                let usedJuries = ""
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)][nbTimeSlot].length; nbCreneau++) {
                try {
                for (let nbTeacher = 0; nbTeacher < teachers[(i * 2)][nbTimeSlot][nbCreneau].length; nbTeacher++) {
                usedJuries += teachers[(i * 2)][nbTimeSlot][nbCreneau][nbTeacher].teacherLastName + ' '
                }
                usedJuries = usedJuries.slice(0, -1)
                usedJuries += ','
                } catch (e) {
                usedJuries += ' ,'
                }
                }
                usedJuries = usedJuries.slice(0, -1)
                console.log("usedJuries")
                console.log(usedJuries)
                return usedJuries
                }

                getGroups = function () {
                let usedGroups = ""
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)][nbTimeSlot].length; nbCreneau++) {
                try {
                for (let nbStudent = 0; nbStudent < allStudents[(i * 2)][nbTimeSlot][nbCreneau].length; nbStudent++) {
                usedGroups += allStudents[(i * 2)][nbTimeSlot][nbCreneau][nbStudent].lastName + ' '
                }
                usedGroups = usedGroups.slice(0, -1)
                usedGroups += ','
                } catch (e) {
                usedGroups += ' ,'
                }
                }
                usedGroups = usedGroups.slice(0, -1)
                console.log("usedGroups")
                console.log(usedGroups)
                return usedGroups
                }
                %>

                <div class="<%= isFull(timeslots[(i*2)][nbTimeSlot]) %> time-slot" draggable="true"
                     id="<%= timeslots[(i*2)][nbTimeSlot]._id%>"
                     onclick="openForm('<%= minsToHHMM(timeslots[(i*2)][nbTimeSlot].startingTime, 0) %>', '<%= timeslots[(i*2)][nbTimeSlot]._id %>', '<%= getRooms() %>', '<%= getJuries() %>', '<%= getGroups() %>')"
                     ondragstart="drag(event,'<%= minsToHHMM(timeslots[(i*2)][nbTimeSlot].startingTime, 0) %>')">
                    <div class="row-fluid lecture" style="width: 99%; height: 100%">
                        <span class="title"><%= minsToHHMM(timeslots[(i*2)][nbTimeSlot].startingTime, 0) %> - <%= minsToHHMM(timeslots[(i*2)][nbTimeSlot].startingTime, event.presentationDuration) %></span>
                        <span class="lecturer"></span>
                        <span class="title"> Créneau <%= isFull(timeslots[(i*2)][nbTimeSlot]) %> </span>
                        <span class="lecturer"></span>
                        <span class="title"> <% let value = getRooms().split(',') %> <%= value %></span>
                        <span class="lecturer"></span>
                    </div>
                </div>
                <%}%>
            </td>

            <%}%>
        </tr>


        <tr>
            <td class="m time-slot-indicator" id="afternoon" width="5%">13:00 - 19:00</td>

            <%for( let i = 0; i < 5; i++) {%>
            
            

            <td class="no-events" id="afternoon<%=i%>" ondragover="allowDrop(event)" ondrop="drop(event)" value="">
                <%for( let nbTimeSlot = 0; nbTimeSlot < timeslots[(i*2)+1].length; nbTimeSlot++) { %>
                <%
                getValues = function () {
                console.log(rooms[(i * 2)+1][nbTimeSlot])
                let usedRooms = ""
                let usedJuries = ""
                let usedGroups = ""
                for (let nbCreneau = rooms[(i * 2)+1][nbTimeSlot].length - 1; nbCreneau > -1; nbCreneau--) {
                usedRooms += rooms[(i * 2)+1][nbTimeSlot][nbCreneau].name + ","
                }
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)+1][nbTimeSlot].length; nbCreneau++) {
                try {
                for (let nbTeacher = 0; nbTeacher < teachers[(i * 2)+1][nbTimeSlot][nbCreneau].length; nbTeacher++) {
                usedJuries += teachers[(i * 2)+1][nbTimeSlot][nbCreneau][nbTeacher].teacherLastName + ' '
                }
                usedJuries = usedJuries.slice(0, -1)
                usedJuries += ','
                } catch (e) {
                }
                try {
                for (let nbStudent = 0; nbStudent < allStudents[(i * 2)+1][nbTimeSlot][nbCreneau].length; nbStudent++) {
                usedGroups += allStudents[(i * 2)+1][nbTimeSlot][nbCreneau][nbStudent].lastName + ' '
                }
                usedGroups = usedGroups.slice(0, -1)
                usedGroups += ','
                } catch (e) {
                }
                usedRooms = usedRooms.slice(0, -1)
                usedJuries = usedJuries.slice(0, -1)
                usedGroups = usedGroups.slice(0, -1)
                console.log("usedGroups")
                console.log(usedGroups)
                }
                }

                getRooms = function () {
                let usedRooms = ""
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)+1][nbTimeSlot].length; nbCreneau++) {
                usedRooms += rooms[(i * 2)+1][nbTimeSlot][nbCreneau].name + ","
                }
                usedRooms = usedRooms.slice(0, -1)
                console.log("usedRooms")
                console.log(usedRooms)
                return usedRooms
                }

                getJuries = function () {
                let usedJuries = ""
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)+1][nbTimeSlot].length; nbCreneau++) {
                try {
                for (let nbTeacher = 0; nbTeacher < teachers[(i * 2)+1][nbTimeSlot][nbCreneau].length; nbTeacher++) {
                usedJuries += teachers[(i * 2)+1][nbTimeSlot][nbCreneau][nbTeacher].teacherLastName + ' '
                }
                usedJuries = usedJuries.slice(0, -1)
                usedJuries += ','
                } catch (e) {
                usedJuries += ' ,'
                }
                }
                usedJuries = usedJuries.slice(0, -1)
                console.log("usedJuries")
                console.log(usedJuries)
                return usedJuries
                }

                getGroups = function () {
                let usedGroups = ""
                for (let nbCreneau = 0; nbCreneau < rooms[(i * 2)+1][nbTimeSlot].length; nbCreneau++) {
                try {
                for (let nbStudent = 0; nbStudent < allStudents[(i * 2)+1][nbTimeSlot][nbCreneau].length; nbStudent++) {
                usedGroups += allStudents[(i * 2)+1][nbTimeSlot][nbCreneau][nbStudent].lastName + ' '
                }
                usedGroups = usedGroups.slice(0, -1)
                usedGroups += ','
                } catch (e) {
                usedGroups += ' ,'
                }
                }
                usedGroups = usedGroups.slice(0, -1)
                console.log("usedGroups")
                console.log(usedGroups)
                return usedGroups
                }
                %>
                <div class="<%= isFull(timeslots[(i*2)+1][nbTimeSlot]) %> time-slot" draggable="true"
                     id="<%= timeslots[(i*2)+1][nbTimeSlot]._id%>"
                     onclick="openForm('<%= minsToHHMM(timeslots[(i*2)+i][nbTimeSlot].startingTime, 0) %>', '<%= timeslots[(i*2)+i][nbTimeSlot]._id %>', '<%= getRooms() %>', '<%= getJuries() %>', '<%= getGroups() %>')"
                     ondragstart="drag(event, '<%= minsToHHMM(timeslots[(i*2)+i][nbTimeSlot].startingTime, 0) %>')">
                    <div class="row-fluid lecture" style="width: 99%; height: 100%;">
                        <span class="title"><%= minsToHHMM(timeslots[(i*2)+1][nbTimeSlot].startingTime, 0) %> - <%= minsToHHMM(timeslots[(i*2)+1][nbTimeSlot].startingTime, event.presentationDuration) %></span>
                        <span class="lecturer"></span>
                        <span class="title"> Créneau <%= isFull(timeslots[(i*2)+1][nbTimeSlot]) %> </span>
                        <span class="lecturer"></span>
                        <span class="title"> <% let value = getRooms().split(',') %> <%= value %></span>
                        <span class="lecturer"></span>
                    </div>
                </div>
                <%}%>
            </td>

            <%}%>

        </tr>

        </tbody>
    </table>
    <p><i aria-hidden="true" class="fa fa-check"></i> 15 groupes ont réservé leur créneau</p>
    <p><i aria-hidden="true" class="fa fa-times"></i> 10 groupes n'ont toujours pas réservé</p>
    <p><i aria-hidden="true" class="fa fa-times"></i> 10 élèves n'ont pas rejoint de groupe</p>
    <p><i aria-hidden="true" class="fa fa-times"></i> 10 élèves n'ont pas créé de compte</p>
    <button class="btn btn-primary droite" onclick="location.href='/admin/proposeTimeSlot?eventID=<%= event._id %>'"
            type="submit">Proposer un nouveau créneau
    </button>
    <button class="btn btn-primary droite" type="submit">Partager le planning</button>


</main>
<footer class="footer" style="position: relative; margin-top: 0">

    <p class="p6">En savoir plus</p>
    <p class="p6bis">Langues</p><br>
    <p class="p6">https://polytech.umontpellier.fr</p>
    <p class="p6">français</p>
    <img alt="" class="log1" src="img/LOGO_original_RVB_WEB-1.png"/>
    <img alt="" class="log1" src="img/IG.png"/>
    <img alt="" class="log1" src="img/unnamed.png"/>
    <p class="p6">© 2020 Polytech Montpellier</p>

</footer>
<aside class="aside">
    <div class="login-popup">
        <div class="form-popup" id="popupForm">
            <span class="fas fa-trash" style="position: absolute;float: left;bottom: 0;left: 0;margin: 2%;"
                  type="button"></span>
            <span class="fa fa-close" onclick="closeForm()" style="float: right; margin: 2%" type="button"></span>
            <div style="width: 100%; height: fit-content; background-color:#dddddd">
                <h2 style="margin-left: 10%; margin-right: 10%">Modification du créneau</h2>
            </div>

            <form action="" class="form-container scroll" id="timeSlotForm" method="post">
                <div class="clock pop-up-form-element">
                    <label for="hour-input">Nouvelle heure de début</label>
                    <input autocomplete="off" class="form-control" id="hour-input" name="startingTime"
                           placeholder="00:00"
                           required type="text" value="">
                    <script src="script/clockpicker.js" type="text/javascript"></script>
                </div>

                <div class="pop-up-form-element" id="selector" style="margin-top: 5%">
                    <label for="nbcreneau">Nombre de créneaux dans l'heure</label>
                    <select class="form-control" id="nbcreneau" name="nbSlot" required>
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>

                <div class="pop-up-form-element pop-up-jury" id="timeSlotCreator">
                    <div class="input-inside-group">
                        <label for="salle" style="margin-top: .5rem">Salle</label><br>
                        <select class="form-control selector" id="salle" name="room">
                            <% for(var i = 0; i < allRooms.length; i++) {%>
                            <option value="<%= allRooms[i]._id %>"><%= allRooms[i].name %></option>
                            <%}%>
                            <option>Aucune salle</option>
                        </select>
                    </div>
                    <div class="input-inside-group">
                        <label for="jury">Jury</label><br>
                        <select class="form-control selector" id="jury" name="jury">
                            <% for(var i = 0; i < allJuries.length; i++) {%>
                            <option value="<%= allJuries[i]._id %>">
                                <%for(var j = 0; j < teachersOfAllJuries[i].length; j++) {%>
                                <%= teachersOfAllJuries[i][j].teacherLastName %>
                                <%}%>
                            </option>
                            <%}%>
                            <option>Aucun jury</option>
                        </select>
                    </div>
                    <div class="input-inside-group">
                        <label>Groupe</label><br>
                        <p class="form-control selectedOne" id="group" style="margin: 0"></p>
                    </div>
                </div>

                <script>
                    const selectElement = document.querySelector('#nbcreneau');
                    const node = document.querySelector('#timeSlotCreator');

                    let usedRooms
                    let usedJuries
                    let usedGroups

                    selectElement.addEventListener('change', (event) => {

                        console.log(event)

                        if (event.detail) {
                            console.log(event.detail.rooms)
                            console.log(event.detail.juries)
                            console.log(event.detail.groups)

                            usedRooms = event.detail.rooms
                            usedJuries = event.detail.juries
                            usedGroups = event.detail.groups
                        }

                        let value = event.target.value

                        for (var i = 0, copy; i < value - 1; i++) {
                            if (document.getElementById('timeSlotCreator' + i)) {
                                document.getElementById('timeSlotCreator' + i).style.display = 'block'
                            } else {
                                copy = node.cloneNode(true);
                                copy.attributes.id.nodeValue = copy.attributes.id.nodeValue + i

                                node.parentNode.insertBefore(copy, node.parentNode.lastChild.previousSibling);

                                copy.parentElement.getElementsByClassName("pop-up-jury")[copy.parentElement.getElementsByClassName("pop-up-jury").length - 1].getElementsByTagName("select")[0].setAttribute('id', 'salle' + i.toString())
                                copy.parentElement.getElementsByClassName("pop-up-jury")[copy.parentElement.getElementsByClassName("pop-up-jury").length - 1].getElementsByTagName("select")[1].setAttribute('id', 'jury' + i.toString())
                                copy.parentElement.getElementsByClassName("pop-up-jury")[copy.parentElement.getElementsByClassName("pop-up-jury").length - 1].getElementsByTagName("select")[0].getElementsByTagName("option")[copy.parentElement.getElementsByClassName("pop-up-jury")[copy.parentElement.getElementsByClassName("pop-up-jury").length - 1].getElementsByTagName("select")[0].length - 1].setAttribute('selected', 'selected')
                                copy.parentElement.getElementsByClassName("pop-up-jury")[copy.parentElement.getElementsByClassName("pop-up-jury").length - 1].getElementsByTagName("select")[1].getElementsByTagName("option")[copy.parentElement.getElementsByClassName("pop-up-jury")[copy.parentElement.getElementsByClassName("pop-up-jury").length - 1].getElementsByTagName("select")[1].length - 1].setAttribute('selected', 'selected')
                                copy.parentElement.getElementsByClassName("pop-up-jury")[copy.parentElement.getElementsByClassName("pop-up-jury").length - 1].getElementsByClassName("selectedOne")[0].setAttribute('id', 'group' + i.toString())
                            }
                        }

                        for (var j = value - 1; j < 4; j++) {
                            let timeSlotCreator = document.getElementById('timeSlotCreator' + j)
                            if (timeSlotCreator != null) timeSlotCreator.setAttribute('style', 'display:none')
                        }

                        selectGoodOnes(usedRooms, usedJuries, usedGroups, node.parentElement.getElementsByClassName("pop-up-jury").length)
                    });
                </script>

                <button class="btn btn-primary pop-up-button" onclick="closeForm()" type="submit">Valider</button>
            </form>
        </div>
        <div class="form-popup" id="popupHourForm">
            <span class="fa fa-close" onclick="closeFormHour()" style="float: right; margin: 2%" type="button"></span>
            <form action="" class="form-container" method="POST" style="margin-left: 0; text-align: center">
                <h2 style="margin-left: 10%; margin-right: 10%">Modification du créneau</h2>
                <div class="clock pop-up-form-element">
                    <label for="hour-hour-input">Nouvelle heure de début</label>
                    <input autocomplete="off" class="form-control" id="hour-hour-input" name="startingTime"
                           required type="text" value="">
                    <script src="script/clockpicker.js" type="text/javascript"></script>
                </div>

                <button class="btn btn-primary pop-up-button" onclick="closeFormHour()" type="submit">Valider</button>
            </form>
        </div>
    </div>

    <div style="height: fit-content; margin-bottom: 1%">
        <button class="btn btn-circle" onclick="location.href='/logout'"><i class="far fa-sign-out"></i></button>
        <button class="btn btn-circle" onclick="location.href='/admin/accueil'"><i class="fa fa-home"></i></button>
    </div>

    <div class="cadre" style="height: fit-content">
        <p class="p7">Informations de l'événement </p>
        <% duration = function (presentationDuration) {
            if(presentationDuration === 60) { return "1H" }
            else { return "1H30" }
        }%>
        <p class="p-cadre"> Durée d'une soutenance : <span style="margin-right: 5%; color: #015FFF; font-family: 'Segoe UI Semibold', sans-serif" class="encadrer-un-contenu"><%= duration(event.presentationDuration) %></span>

            <!--<select class="form-control mi input-cadre">
                <option>1h</option>
                <option>1h30</option>

            </select>-->
        </p>
        <p class="p-cadre">Nombre de jury par soutenance : <span style="margin-right: 5%; color: #015FFF; font-family: 'Segoe UI Semibold', sans-serif" class="encadrer-un-contenu"><%= event.sizeJury%></span><!--<select class="form-control mi input-cadre">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>

        </select>--></p>
        </p>
        <p class="p-cadre"> Date limite de réservation : <span style="margin-right: 5%; color: #015FFF; font-family: 'Segoe UI Semibold', sans-serif" class="encadrer-un-contenu"><%= moment(event.deadline).format("DD/MM/YYYY")%></span> <!--<input class="form-control mi input-cadre" id="dateDebut"
                                                                      name="dateDebut"
                                                                      placeholder="jj/mm/aaaa" type="text"/>
            <script src="script/datepicker.js" type="text/javascript"></script>-->
        </p>
        </p>
            <p class="p-cadre"> Nombre d'élèves par soutenance : <span style="margin-right: 5%; color: #015FFF; font-family: 'Segoe UI Semibold', sans-serif" class="encadrer-un-contenu"><%= event.sizeGroup%></span>
            <!--<select class="form-control mi input-cadre">
                <option>1h</option>
                <option>1h30</option>
            </select>--></p>
        <!--<button class="btn btn-light modifier" type="submit">Modifier ces informations</button>-->


    </div>

    <button class="btn btn-light jury-button" onclick="location.href='/admin/manageJuries?eventID=<%= event._id %>'"
            style="margin-bottom: 10%"
            type="button">Modifier les jurys
    </button>

    <div style="position:absolute; bottom: 0; height: auto; margin-bottom: 10%">
        <p class="p9" style="margin-bottom: 0">Autres événements</p>
        <% if (events.length==0) { %>
        <span>Aucun événement en cours</span><br>
        <% }
        else {
        for(var i=0; i < events.length; i++) {%>
        <button class="btn btn-primary ombré" onclick="location.href='/admin/planning?eventID=<%=events[i]._id%>'"
                type="button"><%= events[i].name %> - <%=
            classes[i].name %><i aria-hidden="true" class="fa fa-long-arrow-right"></i></button>
        <%}
        } %>
    </div>

</aside>
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev,mins) {
        ev.dataTransfer.setData("text", ev.target.id);
        ev.dataTransfer.setData("originalDay", ev.path[1].getAttribute('value'));
        console.log(mins)
        console.log("mins")
        ev.dataTransfer.setData("mins", mins);
    }

    function drop(ev) {
        ev.preventDefault();
        console.log(ev)
        var data = ev.dataTransfer.getData("text");
        var newDay = ev.path[0].getAttribute('value')
        var mins = ev.dataTransfer.getData("mins");
        ev.target.appendChild(document.getElementById(data));
        openFormHour(data, newDay, mins)
    }
</script>

<script>

    function setGroups(groups) {
        let exist = true
        for (let i = 0; i < groups.length - 1; i++) {
            if (!document.getElementById("salle" + i.toString())) {
                exist = false
            }
        }
        if (exist) {
            for (let i = 0; i < groups.length; i++) {
                let idGroup = "group"
                if (i > 0) {
                    idGroup = "group" + (i - 1).toString()
                }
                document.getElementById(idGroup).innerHTML = groups[i]
            }
        }
    }

    function selectGoodOnes(rooms, juries, groups, nbElem) {
        console.log(rooms)
        console.log(juries)
        console.log(groups)

        let exist = true
        for (let i = 0; i < rooms.length - 1; i++) {
            if (!document.getElementById("salle" + i.toString())) {
                exist = false
            }
        }
        if (exist) {
            for (let i = 0; i < rooms.length; i++) {
                let idSalle = "salle"
                let idJury = "jury"
                let idGroup = "group"
                if (i > 0) {
                    idSalle = "salle" + (i - 1).toString()
                    idJury = "jury" + (i - 1).toString()
                    idGroup = "group" + (i - 1).toString()
                }
                console.log("groups[i]")
                console.log(groups[i])
                console.log(groups[i] === " ")
                if (groups[i] === " ") {
                    document.getElementById(idGroup).innerHTML = "Aucune réservation"
                } else {
                    document.getElementById(idGroup).innerHTML = groups[i]
                }
                for (let j = 0; j < document.getElementById(idSalle).children.length; j++) {
                    if (document.getElementById(idSalle).children[j].innerHTML === rooms[i]) {
                        document.getElementById(idSalle).children[j].setAttribute('selected', 'selected')
                    }
                }
                for (let j = 0; j < document.getElementById(idJury).children.length; j++) {
                    if (document.getElementById(idJury).children[j].innerHTML.replaceAll(' ', '').replaceAll('\n', '').replaceAll('\t', '') === juries[i].replaceAll(' ', '')) {
                        document.getElementById(idJury).children[j].setAttribute('selected', 'selected')
                    }
                }
            }
        }

        console.log("nbElem")
        console.log(nbElem)
        console.log("groups.length")
        console.log(groups.length)
        if (groups.length < nbElem) {
            for (let i = nbElem - 1; i > groups.length - 1; i--) {
                console.log("i=" + i)
                let idGroup = "group"
                if (i > 0) {
                    idGroup = "group" + (i - 1).toString()
                }
                console.log(idGroup)
                document.getElementById(idGroup).innerHTML = "Aucune réservation"
            }
        }
    }

    function openForm(min, id, rooms, juries, groups) {

        console.log(rooms)
        console.log(juries)
        console.log(groups)

        document.getElementById("hour-input").setAttribute('value', min)
        document.getElementById("popupForm").style.display = "block";
        document.getElementsByClassName("login-popup")[0].style.display = "block";
        document.getElementsByTagName("body")[0].setAttribute('style', 'position: fixed; overflow-y: scroll')

        document.getElementsByClassName("scroll")[0].setAttribute('action', "/admin/planning?timeslotID=" + id + "&firstDay=<%= new Date(moment(originalDate)).getTime()%>" + "&_method=PUT")

        rooms = rooms.split(',')
        juries = juries.split(',')
        groups = groups.split(',')
        console.log(rooms)
        console.log(juries)
        console.log(groups)

        const event = new CustomEvent('change', {detail: {rooms: rooms, juries: juries, groups: groups}});

        document.getElementById("nbcreneau").children[rooms.length - 1].setAttribute('selected', 'selected')
        document.getElementById("nbcreneau").dispatchEvent(event)
    }

    function closeForm() {
        document.getElementById("popupForm").style.display = "none";
        document.getElementsByClassName("login-popup")[0].style.display = "none";
        document.getElementsByTagName("body")[0].setAttribute('style', '')
        window.location.reload()
    }

    function openFormHour(data, newDay, mins) {
        document.getElementById("hour-hour-input").setAttribute('value', mins)
        document.getElementsByTagName("body")[0].setAttribute('style', 'pointer-events: none; user-select: none;position: fixed; overflow-y: scroll')
        document.getElementById("popupHourForm").setAttribute('style', 'pointer-events: visible; user-select: unset;')
        document.getElementById("popupHourForm").children[1].setAttribute('action', "/admin/planning?timeslotID=" + data + "&newDay=" + newDay + "&firstDay=<%= new Date(moment(originalDate)).getTime()%>" + "&_method=PUT")
        document.getElementById("popupHourForm").style.display = "block";
        document.getElementsByClassName("login-popup")[0].style.display = "block";
    }

    function closeFormHour() {
        document.getElementById("popupHourForm").style.display = "none";
        document.getElementsByClassName("login-popup")[0].style.display = "none";
        document.getElementsByTagName("body")[0].setAttribute('style', '')
        window.location.reload()
    }

</script>

<script>
    document.getElementById("morning0").setAttribute('value', firstDate.getDate())
    document.getElementById("morning1").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 1).getDate())
    document.getElementById("morning2").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 2).getDate())
    document.getElementById("morning3").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 3).getDate())
    document.getElementById("morning4").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 4).getDate())

    document.getElementById("afternoon0").setAttribute('value', firstDate.getDate())
    document.getElementById("afternoon1").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 1).getDate())
    document.getElementById("afternoon2").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 2).getDate())
    document.getElementById("afternoon3").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 3).getDate())
    document.getElementById("afternoon4").setAttribute('value', new Date(firstDate.getTime() + (60 * 60 * 24) * 1000 * 4).getDate())
</script>
</body>
</html>