<!DOCTYPE html>
<html lang="en">
<head>  <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Page de Planning Etudiant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <link rel="stylesheet" href="css/connexion.css">
</head>
<body>
<aside class="aside">
    <p class="p8">Vous n'avez pas encore réservé de créneau, vous pouvez en
        réserver un dans la colonne de droite. Si vous en avez réservé
        un, vous pouvez modifier votre réservation et choisir un autre
        créneau disponible.</p>





    <img src="../img/component.png" alt="" class="logo"/>

</aside>
<main class="main">

    <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-question" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-home" aria-hidden="false"></i>
    </button>

    <p class="p3">Soutenance de stage - IG3 </p>
    <p class="p4">Sélectionnez un créneau pour voir ses informations et les modifer. Faites le glisser pour modifier sa date ou son horaire</p>
    <div class="form-group col-md-4 mb-3 semaineplan" >

        <select class="form-control" name="class">
            <option>Semaine 51</option>
            <option>Semaine 50</option>
            <option>Semaine 49</option>
        </select>
    </div>
    <table class="calendar table table-bordered" >
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th width="5%">Lundi</th>
            <th width="5%">Mardi</th>
            <th width="5%">Mercredi</th>
            <th width="5%">Jeudi</th>
            <th width="5%">Vendredi</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="m" width="5%">08:00</td>
            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>

        <tr>
            <td class="m" width="5%">09:00</td>

            <td type="button" class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>

        <tr>
            <td class="m" width="5%">10:00</td>

            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>


            <td class=" no-events" rowspan="1"></td>

        </tr>

        <tr>
            <td class="m" width="5%">11:00</td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>


            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>

        <tr>
            <td class="m" width="5%">12:00</td>

            <td class=" no-events" rowspan="1"></td>




            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>


            <td class=" no-events" rowspan="1"></td>



            <td class=" no-events" rowspan="1"></td>

        </tr>

        <tr>
            <td class="m" width="5%">13:00</td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>

        <tr>
            <td class="m" width="5%">14:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>


            <td class=" no-events" rowspan="1"></td>



        </tr>

        <tr>
            <td class="m" width="5%">15:00</td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>

        <tr>
            <td class="m" width="5%">16:00</td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>


            <td class=" no-events" rowspan="1"></td>



        </tr>

        <tr>
            <td class="m" width="5%">17:00</td>

            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>
            <td class=" no-events" rowspan="1"></td>
            <td type="button" class=" has-events libre"onclick="openForm()" rowspan="1">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">2 créneaux libres</span> <span class="lecturer"></span>
                </div>
            </td




        </tr>
        <tr>
            <td class="m" width="5%">18:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events complet" rowspan="1">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Créneau complet</span> <span class="lecturer"></span>
                </div>
            </td

        </tr>

        <tr>
            <td class="m" width="5%">19:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>


        </tbody>
    </table>
    <button type="submit" class="btn btn-primary valid" >Valider</button>


</main>
</body>
</html>