<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Page de Planning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/connexion.css"
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.css">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<body>
<script type="text/javascript" src="script/datepicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <aside class="aside">
        <button class="btn btn-circle"><i class="far fa-sign-out"></i></button>
        <button class="btn btn-circle"><i class="fa fa-home"></i></button>


        <div class="cadre">
            <p class="p7">Informations de l'événement  </p>
            <p> Durée d'une soutenance

            <select class="form-control mi input-cadre" >
                <option>1h</option>
                <option>1h30</option>

            </select>
       </p>
            <p>Nombre de jury par soutenance <select class="form-control mi input-cadre" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>

            </select></p></p>
            <p> Date limite de réservation  <input class="form-control mi input-cadre" id="dateDebut" name="dateDebut" placeholder="jj/mm/aaaa" type="text"/>
                <script type="text/javascript" src="script/datepicker.js"></script></p></p>
            <p> Nombre d'élèves par soutenance
                <select class="form-control mi input-cadre" >
                    <option>1h</option>
                    <option>1h30</option>
                </select></p>
            <button type="submit" class="btn btn-light modifier">Modifier ces informations</button>


        </div>

        <button type="button" class="btn btn-light jury-button" onclick="location.href='/admin/manageJuries?eventID=<%= event._id %>'">Modifier les jurys</button>

        <p class="p9">Autres événements</p>
        <%  if (events.length==0) { %>
        <span>Aucun événement en cours</span><br>
        <% }
        else {
            for(var i=0; i < events.length; i++) {%>
                 <button type="button" class="btn btn-primary ombré"  onclick="location.href='/admin/planning?eventID=<%=events[i]._id%>'"><%= events[i].name %> - <%= classes[i].name %><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
            <%}
        } %>
        <!--<button type="submit" class="btn btn-primary ombré">Soutenance de stage - IG5<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
        <button type="submit" class="btn btn-primary ombré">Soutenance de stage - IG3<i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>-->







    </aside>
    <main class="main">



        <p class="p3"><%= event.name %> - <%= classe.name%></p>
        <p class="p4">Sélectionnez un créneau pour voir ses informations et les modifer. Faites le glisser pour modifier sa date ou son horaire</p>

        <button class="btn"><i class="fas fa-angle-left"></i></button>
        <button class="btn"><i class="fas fa-angle-right"></i></button>
        <div class="form-group col-md-4 mb-3 semaineplan" >

            <select class="form-control" name="class">
                <option>Semaine 51</option>
                <option>Semaine 50</option>
                <option>Semaine 49</option>
            </select>
        </div>

        <table class="calendar table table-bordered"  >
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th id="mon" width="5%">21<br/>Lundi</th>
                <th id="tue" width="5%">22<br/>Mardi</th>
                <th id="wen" width="5%">23<br/>Mercredi</th>
                <th id="thu" width="5%">24<br/>Jeudi</th>
                <th id="fri" width="5%">25<br/>Vendredi</th>
                <script>
                    let today = new Date();
                    let day = today.getDay()
                    let monday = today.getDate() - day + (day === 0 ? -6:1)

                    document.getElementById("mon").innerHTML = monday + "<br> Lundi"
                    document.getElementById("tue").innerHTML = monday+1 + "<br> Mardi"
                    document.getElementById("wen").innerHTML = monday+2 + "<br> Mercredi"
                    document.getElementById("thu").innerHTML = monday+3 + "<br> Jeudi"
                    document.getElementById("fri").innerHTML = monday+4 + "<br> Vendredi"
                </script>
            </tr>
            </thead>
            <%
            minsToHHMM = function (mins, add) {
                var mins_num = parseInt(mins) + parseInt(add);
                var minutes = mins_num % 60;
                var hours   = (mins_num - minutes)/ 60;

                if (minutes < 10) {minutes = "0"+minutes;}
                return hours+':'+minutes;
            }

            isFull = function (timeslot) {
                if (timeslot.groups.length === timeslot.rooms.length) {
                    return "complet"
                } else {
                    return "libre"
                }
            }
            %>
            <tbody>
            <tr>
                <td id="morning" class="m" width="5%">8:00 - 13:00</td>

                <%for( let i = 0; i < 5; i++) {%>

                    <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)" id="morning<%=i%>" value="">
                        <%for( let nbTimeSlot = 0; nbTimeSlot < timeslots[i*2].length; nbTimeSlot++) { %>
                            <div class="<%= isFull(timeslots[(i*2)][nbTimeSlot]) %>" onclick="openForm()" id="<%= timeslots[(i*2)][nbTimeSlot]._id%>" draggable="true" ondragstart="drag(event)">
                                <div class="row-fluid lecture"  style="width: 99%; height: 100%;">
                                    <span class="title"><%= minsToHHMM(timeslots[(i*2)][nbTimeSlot].startingTime, 0) %> - <%= minsToHHMM(timeslots[(i*2)][nbTimeSlot].startingTime, event.presentationDuration) %></span> <span class="lecturer"></span>
                                    <span class="title">Créneau <%= isFull(timeslots[(i*2)][nbTimeSlot]) %></span> <span class="lecturer"></span>
                                </div>
                        </div>
                        <%}%>
                    </td>

                <%}%>


                <!--<td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)"rowspan="1"></td>
                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)"rowspan="1"></td>
                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)"rowspan="1"></td>
                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)"rowspan="1">
                    <div class="complet" onclick="openForm()" id="drag230" draggable="true" ondragstart="drag(event)">

                        <div class="row-fluid lecture"  style="width: 99%; height: 100%;">

                            <span class="title">8:15 - 9:15</span> <span class="lecturer"></span>

                            <span class="title">Créneau complet</span> <span class="lecturer"></span>
                        </div>
                    </div>
                    <div class="complet" onclick="openForm()" id="drag231" draggable="true" ondragstart="drag(event)">

                        <div class="row-fluid lecture"  style="width: 99%; height: 100%;">

                            <span class="title">8:15 - 9:15</span> <span class="lecturer"></span>

                            <span class="title">Créneau complet</span> <span class="lecturer"></span>
                        </div>
                    </div>
                </td>-->
                <div class="login-popup">
                    <div class="form-popup" id="popupForm">
                        <form action="/action_page.php" class="form-container">
                            <h2>Modification</h2>
                            <div class="clock col-md-6">



                                <input type="text" class="form-control" value="" placeholder="00:00">

                                <script type="text/javascript" src="script/clockpicker.js"></script>
                            </div>
                            <div class="form-group col-md-4 mb-3 " >

                                <select class="form-control" name="class">
                                    <option>Jury 1</option>
                                    <option>Jury 2</option>
                                    <option>Jury 3</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4 mb-3 " >

                                <select class="form-control" name="class">
                                    <option>Salle SC102</option>
                                    <option>Salle SC101</option>
                                    <option>Salle TD015</option>
                                </select>
                            </div>

                            <button type="button" class="btn cancel" onclick="closeForm()">Fermer</button>
                        </form>
                    </div>
                </div>
            </tr>




            <tr>
                <td id="afternoon" class="m" width="5%">13:00 - 19:00</td>

                <!--<td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)" rowspan="1"></td>
                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)" rowspan="1"></td>
                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)" rowspan="1"></td>
                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)" rowspan="1"></td>
                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)"  rowspan="1">
                    <div class="libre"id="drag1" draggable="true" ondragstart="drag(event)" onclick="openForm()" >

                        <div class="row-fluid lecture"  style="width: 99%; height: 100%;">

                            <span class="title">14:15 - 15:15</span> <span class="lecturer"></span>

                            <span class="title">2 créneaux libres</span> <span class="lecturer"></span>
                        </div>
                    </div>
                    <div class="libre"id="drag2" draggable="true" ondragstart="drag(event)" onclick="openForm()" >

                        <div class="row-fluid lecture"  style="width: 99%; height: 100%;">

                            <span class="title">14:15 - 15:15</span> <span class="lecturer"></span>

                            <span class="title">2 créneaux libres</span> <span class="lecturer"></span>
                        </div>
                    </div>
                </td>-->

                <%for( let i = 0; i < 5; i++) {%>

                <td class="no-events" ondrop="drop(event)" ondragover="allowDrop(event)" id="afternoon<%=i%>" value="">
                    <%for( let nbTimeSlot = 0; nbTimeSlot < timeslots[(i*2)+1].length; nbTimeSlot++) { %>
                    <div class="<%= isFull(timeslots[(i*2)+1][nbTimeSlot]) %>" onclick="openForm()" id="<%= timeslots[(i*2)+1][nbTimeSlot]._id%>" draggable="true" ondragstart="drag(event)">
                        <div class="row-fluid lecture"  style="width: 99%; height: 100%;">
                            <span class="title"><%= minsToHHMM(timeslots[(i*2)+1][nbTimeSlot].startingTime, 0) %> - <%= minsToHHMM(timeslots[(i*2)+1][nbTimeSlot].startingTime, event.presentationDuration) %></span> <span class="lecturer"></span>
                            <span class="title">Créneau <%= isFull(timeslots[(i*2)+1][nbTimeSlot]) %></span> <span class="lecturer"></span>
                        </div>
                    </div>
                    <%}%>
                </td>

                <%}%>

                <div class="login-popup">
                    <div class="form-popup" id="popupForm">
                        <form action="/action_page.php" class="form-container">
                            <h2>Modification</h2>
                            <div class="clock col-md-6">



                                <input type="text" class="form-control" value="" placeholder="00:00">

                                <script type="text/javascript" src="script/clockpicker.js"></script>
                            </div>
                            <div class="form-group col-md-4 mb-3 " >

                                <select class="form-control" name="class">
                                    <option>Jury 1</option>
                                    <option>Jury 2</option>
                                    <option>Jury 3</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4 mb-3 " >

                                <select class="form-control" name="class">
                                    <option>Salle SC102</option>
                                    <option>Salle SC101</option>
                                    <option>Salle TD015</option>
                                </select>
                            </div>

                            <button type="submit" class="btn cancel" onclick="closeForm()">Fermer</button>
                        </form>
                    </div>
                    <div class="form-popup" id="popupHourForm">
                        <form action="" class="form-container" method="POST">
                            <h2>Modification</h2>
                            <div class="clock col-md-6">
                                <input type="text" class="form-control" value="" placeholder="00:00" name="startingTime" required>
                                <script type="text/javascript" src="script/clockpicker.js"></script>
                            </div>

                            <button type="submit" class="btn cancel" onclick="closeFormHour()">Fermer</button>
                        </form>
                    </div>
                </div>

            </tr>

            <script>
                function allowDrop(ev) {
                    ev.preventDefault();
                }

                function drag(ev) {
                    ev.dataTransfer.setData("text", ev.target.id);
                    ev.dataTransfer.setData("originalDay", ev.path[1].getAttribute('value'));
                }

                function drop(ev) {
                    ev.preventDefault();
                    console.log(ev)
                    var data = ev.dataTransfer.getData("text");
                    var newDay = ev.path[0].getAttribute('value')
                    var diff = newDay - ev.dataTransfer.getData("originalDay")
                    ev.target.appendChild(document.getElementById(data));
                    openFormHour(data, diff)
                }
            </script>

            <script>
                function openForm() {
                    document.getElementById("popupForm").style.display="block";
                }

                function closeForm() {
                    document.getElementById("popupForm").style.display="none";
                }

                function openFormHour(data, diff) {
                    document.getElementById("popupHourForm").firstChild.nextSibling.setAttribute('action', "/admin/planning?timeslotID="+data+"&diff="+diff+"&_method=PUT")
                    document.getElementById("popupHourForm").style.display="block";
                }

                function closeFormHour() {
                    document.getElementById("popupHourForm").style.display="none";
                }

            </script>

            <script>
                document.getElementById("morning0").setAttribute('value', monday)
                document.getElementById("morning1").setAttribute('value', monday+1)
                document.getElementById("morning2").setAttribute('value', monday+2)
                document.getElementById("morning3").setAttribute('value', monday+3)
                document.getElementById("morning4").setAttribute('value', monday+4)

                document.getElementById("afternoon0").setAttribute('value', monday)
                document.getElementById("afternoon1").setAttribute('value', monday+1)
                document.getElementById("afternoon2").setAttribute('value', monday+2)
                document.getElementById("afternoon3").setAttribute('value', monday+3)
                document.getElementById("afternoon4").setAttribute('value', monday+4)
            </script>



            </tbody>
        </table>
        <p><i class="fa fa-check" aria-hidden="true"></i> 15 groupes ont réservé leur créneau</p>
        <p><i class="fa fa-times" aria-hidden="true"></i> 10 groupes n'ont toujours pas réservé</p>
        <p><i class="fa fa-times" aria-hidden="true"></i> 10 élèves n'ont pas rejoint de groupe</p>
        <p><i class="fa fa-times" aria-hidden="true"></i> 10 élèves n'ont pas créé de compte</p>
        <button type="submit" class="btn btn-primary droite" onclick="location.href='/admin/proposeTimeSlot?eventID=<%= event._id %>'">Proposer un nouveau créneau</button>
        <button type="submit" class="btn btn-primary droite" >Partager le planning</button>


    </main>
<footer class="footer">

    <p class="p6">En savoir plus</p>
    <p class="p6bis">Langues</p><br>
    <p class="p6">https://polytech.umontpellier.fr</p>
    <p class="p6">français</p>
    <img src="img/LOGO_original_RVB_WEB-1.png" alt="" class="log1"/>
    <img src="img/IG.png" alt="" class="log1"/>
    <img src="img/unnamed.png" alt="" class="log1"/>
    <p class="p6">© 2020 Polytech Montpellier</p>

</footer>
</body>
</html>