<!DOCTYPE html>
<html>

<head>
    <base href="http://localhost:8080/public">
    <meta charset="UTF-8">
    <title>Proposer créneau</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/connexion.css">
    <link rel="stylesheet" href="http://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.css">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>


<script type="text/javascript" src="script/datepicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<aside class="aside">
    <button class="btn btn-circle"><i class="far fa-sign-out"></i></button>
    <button class="btn btn-circle"><i class="fa fa-home"></i></button>
    <h1>Création des créneaux</h1>
    <img alt="" class="logo" src="img/component.png"/>

</aside>
<main class="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mobileonly">
            <li class="breadcrumb-item"><a href="#">Home</a></li>

        </ol>
    </nav>
    <p class="p1">Vous avez des problèmes? <strong>Aide</strong></p>

    <p class="p3">Proposer un créneau </p>
    <p class="p4">Renseignez les informations suivantes</p>
    <form action="/admin/proposeTimeSlot/<%= eventID %>" method="post">

        <div class="mb-6 form-check">
            <input type="checkbox" onclick="checkcreneau()" class="form-check-input" checked="true" id="exampleCheck1" name="withJury">
            <label class="form-check-label" for="exampleCheck1" >Je précise les jurys et salles maintenant</label>
            <script>
                function checkcreneau() {
                    var checkBox = document.getElementById("exampleCheck1");

                    var text = document.getElementById("selector");
                    var text1 = document.getElementById("timeSlotCreator");
                    if (checkBox.checked){
                        text.style.display = "none";
                        text1.style.display = "none";
                    }
                    else {
                        text.style.display = "block";
                        text1.style.display = "block";
                        text.getElementsByTagName('option')[0].selected = 'selected'
                    }

                    for(var i = 0; i <10; i++){
                        var timeSlotCreator = document.getElementById("timeSlotCreator"+i);
                        if (checkBox.checked){
                            timeSlotCreator.style.display = "none";
                        }
                    }


                }
            </script>
        </div>

        <div id="selector" class="col-md-6">
            <label for="nbcreneau">Nombre de créneaux par heure</label><br>
            <select class="form-control" id="nbcreneau"name="nbSlot" required>
                <option selected="selected">1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>


        <div id="timeSlotCreator" class="col-md-6 input-group-room-jury">
            <div class="input-inside-group">
                <label for="salle" style="margin-top: .5rem">Salle</label><br>
                <select class="form-control" id="salle"name="room">
                    <% for(var i = 0; i < rooms.length; i++) {%>
                        <option value="<%= rooms[i]._id %>"><%= rooms[i].name %></option>
                    <%}%>
                </select>
            </div>
            <div class="input-inside-group">
                <label for="jury">Jury</label><br>
                <select class="form-control" id="jury" name="jury">
                    <% for(var i = 0; i < juries.length; i++) {%>
                        <option value="<%= juries[i]._id %>">
                            <% for(var j = 0; j < teachers[0].length; j++) {%>
                                <%= teachers[i][j].teacherLastName %>
                        <%}%></option>
                    <%}%>
                </select>
            </div>
        </div>

        <script>
            const selectElement = document.querySelector('#nbcreneau');
            const node = document.querySelector('#timeSlotCreator');

            selectElement.addEventListener('change', (event) => {
                console.log(event.target.value)
                for (var i = 0, copy; i < event.target.value - 1; i++) {
                    if (document.getElementById('timeSlotCreator' + i)) {
                        document.getElementById('timeSlotCreator' + i).style.display = 'block'
                    } else {
                        copy = node.cloneNode(true);
                        copy.attributes.id.nodeValue = copy.attributes.id.nodeValue + i
                        node.parentNode.insertBefore(copy, node);
                    }
                }

                for (var j =  event.target.value - 1; j < 10; j++) {
                    let timeSlotCreator = document.getElementById('timeSlotCreator'+j)
                    if (timeSlotCreator != null) timeSlotCreator.parentNode.removeChild(timeSlotCreator)
                    //teacherSelector.style.display = 'none'
                }
            });
        </script>


        <div class="col-md-6">
            <label>Date</label><br>
            <input class="form-control" id="dateDebut" name="date" placeholder="JJ/MM/AAAA" type="text"/>

        </div>

        <div class="clock col-md-6">
            <label>Heure de début</label><br>
            <input type="text" class="form-control" placeholder="HH:MM" name="startingTime">
            <script type="text/javascript" src="script/clockpicker.js"></script>
        </div>

        <button class="btn btn-primary gauche" type="submit">ENREGISTRER<i aria-hidden="true" class="fa fa-long-arrow-right"></i></button>
    </form>

</main>
</body>

</html>
