<!DOCTYPE html>
<html lang="en">
<head>  <base href="http://localhost:8080/public">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Aide | Réservation de soutenance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <link rel="stylesheet" href="css/connexion.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<script language="JavaScript">
    function validation(f) {
        if (f.mdp1.value == '' || f.mdp2.value == '') {
            alert('Tous les champs ne sont pas remplis');
            f.mdp1.focus();
            return false;
        }
        else if (f.mdp1.value != f.mdp2.value) {
            alert('Ce ne sont pas les mêmes mots de passe!');
            f.mdp1.focus();
            return false;
        }
        else if (f.mdp1.value == f.mdp2.value) {
            return true;
        }
        else {
            f.mdp1.focus();
            return false;
        }
    }
</script>

<form method="post" onSubmit="return validation(this)" >
    Entrez votre mot de passe:
    <input name="mdp1" type="password" value=""><br />
    Entrez ce mot de passe à nouveau:
    <input name="mdp2" type="password" value="">
    <input type="submit">
</form>


<button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
<button type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-list"></i></button>
<button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-link"></i></button>
<button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
<button type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-remove"></i></button>
<button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-heart"></i></button>
<div class="col-md-6 no">
    <label for="email1" class="form-label">E-mail universitaire du premier membre</label><br>
    <input type="email" class="form-control" id="email1" placeholder="name@example.com" aria-label="Large" aria-describedby="inputGroup-sizing-sm"  name="email1">
</div>




</body>
</html>

