#aside {
  position: absolute;
  width: 30%;
  height: 100%;
  float: left;
  background: #015FFF 0% 0% ;



}
body {
  font-family: "Segoe UI Normal", sans-serif;
  margin: 0;

}
h1{
  font-size: 3em;
  text-align: center;
  color: white;
  margin-top: 70%;

  font-family:  "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  opacity : 1;
}
p{

  margin-left: 0.5em;
  text-align: right;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
  font-size: 50%;

}
h5{
  font-size: 3em;
  margin-left: 5%;
  text-align: left;
  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}
h6{
  font-size: 1.5em;
  margin-left: 5%;
  text-align: left;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;

}
strong{
  color : blue;
}
.mb-3{
  text-align: left;
  margin-left: 5%;
  font-size: 2em;
  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}
.form-group{
  text-align: left;
  margin-left: 5%;
  font-size: 2em;

  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;

}
.btn-primary{
  background-color:#015FFF ;
  margin-left: 5%;
  color : white;
}

#main{

  width: 70%;
  height: 100%;
  float: right;



}

#logo{
  margin-top: 10%;
  top: 15%;
  left: 60%;
  width: 50%;
  height: 30%;


  float: right;

}
input{
  height: 15%;
  width: 60%;
}






