#aside {
  position: fixed;
  width: 30%;
  height: 100%;
  float: left;
  background: #015FFF;
  bottom: 0;
}
#main{
  width: 70%;
  height: 100%;
  float: right;


}
#footer{

  position: absolute;
  margin-left: 30%;
  float: right;
  bottom: 0;
  width:70%;
  height: 20%;
  background: #999999;
}
body {
  font-family: "Segoe UI Normal", sans-serif;
  margin: 0;

}
h1{
  font-size: 3em;
  text-align: center;
  color: white;
  margin-top: 50%;
  float: center;

  font-family:  "Bold Segoe UI ", sans-serif;
  letter-spacing: 0px;
  opacity : 1;
}
.p1{
  margin-top:3%;
  margin-left: 0.5em;
  margin-right: 0.4em;
  text-align: right;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
  font-size: 90%;

}
.p2{
  margin-left: 10%;
  float: left;
  text-align: left;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}
.p3{
  font-size: 3em;
  margin-left: 10%;
  text-align: left;
  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}
.p4{
  font-size: 1em;
  margin-left: 10%;
  text-align: left;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;

}
strong{
  color : blue;
}
p{
  margin-left: 10%;
}
.p5{
  color: white;

  text-align: right;
  margin-right: 5%;
}
.p6{
  color: white;
  display : inline-block;
}
.p7{
  color: white;
  font-size: 1.5em;
  font-family: "Segoe UI Semibold", sans-serif;
}
.p8{
  margin-top: 30%;
  font-size: 1.6em;
  color: white;
}
.p9{
  color: white;
  font-size: 1.5em;
  margin-top: 25%;
  text-align: right;
  margin-right: 5%;
  margin-bottom: 5%;
}
h2{
  margin-left: 15%;
}

#confirm{
  float: left;
  margin-right: 80%;
}
.form-group{
  float: left;
  border-radius: 0;
  margin-left: 0;

}
form{
  margin-left: 9%;
  border-radius: 0;

}
.col-md-4 mb-3{
  border-radius: 0;
  text-align: left;
  font-size: 2em;
  font-family: "Bold Segoe UI ", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
  margin-left: 0;
  font-family: "Bold Segoe UI ", sans-serif;
  border-radius: 0;


}

.col-md-4  form-group{
  text-align: left;
  font-size: 2em;
  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
  margin-left: 0;

}

.btn-primary{
  background-color:#015FFF ;
  font-size: 1em;
  color : white;
  height: 20%;
  border-radius: 0;


}

#gauche{
  width: 50%;
  float: left!;
  text-align: left;
  margin-left: 10%;
  margin-right: 30%;

}
#droite{
  width: 30%;
  float: right;
  font-size: 1em;
  text-align: center;
  display : inline-block;
  border-radius: 0.25em;
  margin-right: 1%;
  margin-bottom: 5%;

}
.btn-secondary{
  margin-left: 10%;

}


#logo{
  position: absolute;
  right: 0;
  bottom: 0;
}
#logodroite{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 37%;
}

#flech{
  top: 5%;
  left: 6%;
  width: 5%;
  height: 6%;
  float: right;
  background-color: #015FFF;

}
.btn-circle {
  float: right;
  color: #015FFF;
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}


.fallbackDatePicker, .col-md-6{
  margin-left: 10%;
}
#log{
  margin-top: 10%;
  width: 3%;
  height: 15%;
  float: right;
}
table.calendar{
  float: center;
  width:80%;
  margin-left: 10%;

  border-top-radius: 20%;
  border-left: 0;
}
#modifier{
  float: center;
  margin-left: 20%;
  margin-bottom: 5%;
}
table.calendar > thead > tr > th {
  text-align: center;
  color: #8E8E8E;
  background-color : #ECECEC;
  border-top-radius: 20%;
  border : 0;

}

table.calendar > tbody > tr > td.m {
  text-align: center;
  color: #8E8E8E;
  background-color : #F6F6F6;
  border : 0;


}
.form-control{

  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 0;


}
#validationCustom01{
  width: 180%;
}
#validationCustom02{
  width: 180%;
}
.input-group{
  width: 186%;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);
}
#exampleFormControlInput1{
  width: 180%;


}
#exampleInputPassword1{
  width: 180%;

}
/*#exampleFormControlSelect1{
  color: white:
  float: right;
  text-align: left;
}*/
#cadre{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  border-width:2px 2px 2px 2px;
  border-style:solid solid;
  border-color: white;
  color: white;
  padding:2 10px;
}
#ombré{
  float: right;
  background-color: #017FFF;
  border-radius: 0.45em;
  height: 5%;
  margin-top: 5%;
}
.btn-secondary {
  border : 0;
  margin-left: 5%;
  float: center;
  width: 80%;
  color: black;
  text-align: center;
  border-radius: 0.25em;
  background-color: white;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4);

}
#role{
  float: left;
  border-image: linear-gradient(#015FFF, #015FFF) 27;



}
@media all and (max-width: 480px){
  #logo(float: none;)

}
@media (min-width: 480px) and (max-width: 780px){
  #logo(float: none;)
}
@media (min-width: 781px) and (max-width: 979px){
  #logo(float: none;)
}
#exampleFormControlSelect1{
  float: left;
  margin-bottom: 5%;
  width: 50%;
}
.encadrer-un-contenu{
  border: 1px solid white; padding: 5px;

  border-radius: 0.5em;
  background-color: white;
}
#semaine{
  float:left;
  margin-left: 0;
  margin-right: 30%;
  margin-top: 5%;

}
#promotion{
  float:left;
  margin-left: 0;

  margin-right: 50%;

}
#confirm_password{
  float: left;
  margin-top: 10%;
  margin-left: 0;
  margin-right: 10%;
}
.fa-long-arrow-right{
  margin-top: 1%;
  float: right;
  margin-bottom: 1%;
}
#valid{  margin-right: 10%;
  float: right;
  width: 20%;
  font-size: 1.2em;
  border-radius: 0.25em;
}
.fa-check{
  color: green;
}
.fa-times{
  color: red;
}
#libre{
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color:#82BA93 ;
  text-align: center;
}
#complet{
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color:#BA8282 ;
  text-align: center;

}

.col-md-6{
  float:left;
  margin-left: 0;
  margin-right: 10%;
}
.form-check-input{
  margin-left: 5%;
}
.form-check-label{
  margin-left: 10%;
}
#semaineplan{
  float: right;
  width: 25%;
}