#aside {
  position: absolute;
  width: 30%;
  height: 100%;
  float: left;

  background: #015FFF 0% 0% ;



}
#footer{

  position: absolute;
  float: right;
  bottom: 0;
  width:70%;
  height: 20%;
  background: #999999;
}
body {
  font-family: "Segoe UI Normal", sans-serif;
  margin: 0;

}
h1{
  font-size: 3em;
  text-align: center;
  color: white;
  margin-top: 70%;

  font-family:  "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  opacity : 1;
}
.p1{

  margin-left: 0.5em;
  text-align: right;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
  font-size: 50%;

}
.p2{
  margin-left: 10%;
  text-align: left;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}
.p3{
  font-size: 3em;
  margin-left: 10%;
  text-align: left;
  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}
.p4{
  font-size: 1.5em;
  margin-left: 10%;
  text-align: left;
  font-family: "Segoe UI Semibold", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;

}
strong{
  color : blue;
}
p{
  margin-left: 10%;
}
.mb-3{
  text-align: left;
  margin-left: 10%;
  font-size: 2em;
  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;
}
.form-group{
  text-align: left;
  margin-left: 10%;
  font-size: 2em;

  font-family: "Segoe UI Normal", sans-serif;
  letter-spacing: 0px;
  color: #2D2D2D;
  opacity: 1;

}
.btn-primary{
  background-color:#015FFF ;
  margin-left: 10%;
  font-size: 1em;
  color : white;
  height: 20%;
  width: 58%;
  text-align: left;
}
.btn-secondary{
  margin-left: 10%;
}
#main{

  width: 70%;
  height: 100%;
  float: right;



}

#logo{
  position: absolute;
  right: 0;
  bottom: 0;
}
input{
  height: 15%;
  width: 60%;
}
#flech{
  top: 5%;
  left: 6%;
  width: 5%;
  height: 6%;
  float: right;

}
.btn-circle {
  float: right;
  color: #015FFF;
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
.p5{
  color: white;

  text-align: right;
  margin-right: 5%;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}
.fallbackDatePicker, .col-md-6{
  margin-left: 10%;
}
#log{
  margin-top: 10%;


  width: 3%;
  height: 15%;


  float: right;

}







